body{
    background-image: url("https://i.pinimg.com/originals/16/15/8f/16158f24fc89086a9232df1f3d5eb8ef.jpg");
    background-color: white;
}
.table{
    background-color: transparent;
}
img{
    max-width: 75px;
    max-height: fit-content;

}
td{
    font-weight:100;
    color: violet;
}
.idColor{
    color:white;
}