<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
        <div class="container">
            <div class="banner-img">
                <div class="banner-text">
                    <h1>Book Survey</h1>
                </div>
            </div>
            <br/>
            <br/>
            <form>
                <!-- List of Favorite Authors -->
                <div class="form-group row">
                    <label for="authors" class="col-sm-2 col-form-label">
                        Favorite Authors:
                    </label>
                    <div class="col-sm-10">
                        <input type="text" 
                            class="form-control" 
                            id="authors" 
                            placeholder="Use comma seperated list"
                        >
                    </div>
                </div>
                <!-- Select Your Favorite Genres -->
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Genres:</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre1" value="option1">
                                <label class="form-check-label" for="genre1">
                                    Action
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre2" value="option2">
                                <label class="form-check-label" for="genre2">
                                    Adventure 
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre3" value="option3">
                                <label class="form-check-label" for="genre3">
                                    Art/Architecture
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre4" value="option4">
                                <label class="form-check-label" for="genre4">
                                    Autobiography
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre5" value="option5">
                                <label class="form-check-label" for="genre5">
                                    Biography
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre6" value="option6">
                                <label class="form-check-label" for="genre6">
                                    Business
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre7" value="option7">
                                <label class="form-check-label" for="genre7">
                                    Children's
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre8" value="option8">
                                <label class="form-check-label" for="genre8">
                                    Classics
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre9" value="option9">
                                <label class="form-check-label" for="genre9">
                                    Crafts 
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre10" value="option10">
                                <label class="form-check-label" for="genre10">
                                    Cookbooks
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre11" value="option11">
                                <label class="form-check-label" for="genre11">
                                    Comics
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre12" value="option12">
                                <label class="form-check-label" for="genre12">
                                    Coming-of-age
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre13" value="option13">
                                <label class="form-check-label" for="genre13">
                                    Crime
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre14" value="option14">
                                <label class="form-check-label" for="genre14">
                                    Drama
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre15" value="option15">
                                <label class="form-check-label" for="genre15">
                                    Fantasy
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre16" value="option16">
                                <label class="form-check-label" for="genre16">
                                    History
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre17" value="option17">
                                <label class="form-check-label" for="genre17">
                                    Graphic Novel
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre18" value="option18">
                                <label class="form-check-label" for="genre18">
                                    Home and Garden
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre19" value="option19">
                                <label class="form-check-label" for="genre19">
                                    Historical Fiction 
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre20" value="option20">
                                <label class="form-check-label" for="genre20">
                                    Humor
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre21" value="option21">
                                <label class="form-check-label" for="genre21">
                                    Horror
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre22" value="option22">
                                <label class="form-check-label" for="genre22">
                                    Mystery
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre23" value="option23">
                                <label class="form-check-label" for="genre23">
                                    Philosophy
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre24" value="option24">
                                <label class="form-check-label" for="genre24">
                                    Poetry
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre25" value="option25">
                                <label class="form-check-label" for="genre25">
                                    Religion
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre26" value="option26">
                                <label class="form-check-label" for="genre26">
                                    Romance
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre27" value="option27">
                                <label class="form-check-label" for="genre27">
                                    Textbook
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre28" value="option28">
                                <label class="form-check-label" for="genre28">
                                    Science Fiction
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre29" value="option29">
                                <label class="form-check-label" for="genre29">
                                    Sports
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="gridCheckbox" id="genre30" value="option30">
                                <label class="form-check-label" for="genre30">
                                    Travel
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- Page Preference  -->
                <fieldset class="form-group">
                    <div class="row">
                      <legend class="col-form-label col-sm-2 pt-0">Page Preference:</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="pages1" value="option1">
                                <label class="form-check-label" for="pages1">
                                    Less then 100
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="pages2" value="option2">
                                <label class="form-check-label" for="pages2">
                                    101 - 200
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="gridRadios" id="pages3" value="option3">
                                <label class="form-check-label" for="pages3">
                                    201 - 300
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="gridRadios" id="pages4" value="option4">
                                <label class="form-check-label" for="pages4">
                                    301 - 400
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="gridRadios" id="pages5" value="option5">
                                <label class="form-check-label" for="pages5">
                                    More than 400
                                </label>
                            </div>
                        </div>
                    </div>
                  </fieldset>
                  <input type="submit" value="submit" class="btn btn-primary btn-block" />                
            </form>
        </div> 
<%- include('../partials/footer') %>